---
import MainLayout from '../layouts/Mainlayout.astro';
---

<MainLayout title="About">
    <div class="profile-wrapper">
        <div class="profile-text">
            <h1 class="profile-title">Angelo Alberico</h1>
            <h2 class="profile-subtitle">Computer Science student @ UNISA</h2>
            <p>Ciao 🐱‍🏍! Sono uno studente di Informatica...</p>
            </div>
        <img src="https://avatars.githubusercontent.com/u/60366172?v=4" alt="Angelo Alberico" class="profile-image">
    </div>
</MainLayout>