---
import MainLayout from '../layouts/Mainlayout.astro';
---

<MainLayout title="Projects">
    <h2>I miei Progetti Universitari</h2>
    <p>Qui inserirò le card dei miei lavori con Spring, Node e Python.</p>
</MainLayout>