<header>
    <div class="header-container">
        <a href="/" class="logo">Angelo Alberico</a>
        <nav>
            <a href="/">about</a>
            <a href="/projects">projects</a>
            <a href="/repositories">repositories</a>
            <a href="/cv">cv</a>
        </nav>
    </div>
</header>